/*Universal styles*/
*, *::before, *::after {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}
/*Stored variables for colors*/
:root {
    --primary-color:#FFFFFF;
    --secondary-color:#FFC0CB;
    --tertiary-color:#FF69B4;
    --quaternary-color:	#FF1493;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
}
/*Applies flex properties to main elements direct children*/
main {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

section {
    display: flex;
    justify-content: center;
    background-color:var(--secondary-color);
    max-width: 70%;
    max-height:fit-content;
    border-radius: 10px;
}

section h2 {
    font-size: 30px;
}
/*Style for all buttons*/
button {
    color: white;
    border:none;
    border-radius: 5px;
    background-color:var(--quaternary-color) ;
    padding: 10px;
    margin: 7px;
    opacity: 70%;
    transition-duration: 0.4s;
}
/*Makes button swell & fully opaque when user hovers mouse over button*/
/*Changes mouse to pointer on hover*/
button:hover {
    opacity: 100%;
    transform:scale(1.2);
    cursor:pointer;
}

.high-score {
    background-color:var(--tertiary-color);
}

.answer {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.answer-btn {
    background-color:var(--tertiary-color);
}

#start-btn {
    padding: 15px;
    font-size: 20px;
}

#submit-btn {
    padding: 15px;
    font-size: 20px;
}

.start-submit {
    display: flex;
    flex-wrap:nowrap;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 10px;
}

.container {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    max-height: 500px;
    text-align: center;
}

.hide {
    display: none;
}